params {
  max_cpus = 8
  max_memory = 36.GB
  max_time = 3.h

  star_genome_sa_index_n_bases = 11
  vep_indexed_cache_file = 'https://github.com/ampatchlab/test-datasets/raw/rnaseq/HCC1395/annotation/homo_sapiens_vep_97_GRCh38.chr22.tar.gz'

  csv = "${baseDir}/tests/HCC1395-PE.csv"
  genome = 'GRCh38'
  paired_end = true
  fasta = 'https://github.com/ampatchlab/test-datasets/raw/rnaseq/HCC1395/reference/GRCh38.primary_assembly.genome.chr22.fa.gz'
  gtf = 'https://github.com/ampatchlab/test-datasets/raw/rnaseq/HCC1395/reference/gencode.v31.primary_assembly.annotation.chr22.gtf.gz'
}
