process {

  errorStrategy = 'retry'
  maxRetries = 3

  cpus = { max_cpus( 1 * task.attempt ) }
  memory = { max_memory( 1.GB * task.attempt ) }
  time = { max_time( 1.h * task.attempt ) }

  withName: 'gunzip_fasta' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'gunzip_gtf' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'star_index' {
    cpus = 8
    memory = { max_memory( 36.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'samtools_faidx' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 2.h * task.attempt ) }
  }

  withName: 'unpack_cache' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'fastqc_raw' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'cutadapt' {
    cpus = 3
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'fastqc_trimmed' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'star' {
    cpus = 8
    memory = { max_memory( 36.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'samtools_index' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 3.h * task.attempt ) }
  }

  withName: 'mark_duplicates' {
    cpus = 1
    memory = { max_memory( 32.GB * task.attempt ) }
    time = { max_time( 48.h * task.attempt ) }
  }

  withName: 'strelka' {
    cpus = 8
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'subset_pass_variants' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'convert2bed' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'split_regions' {
    cpus = 1
    memory = { max_memory( 2.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }

  withName: 'mpileup' {
    cpus = 2
    memory = { max_memory( 2.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'concat' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'filter' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 3.h * task.attempt ) }
  }

  withName: 'vep' {
    cpus = 5
    memory = { max_memory( 12.GB * task.attempt ) }
    time = { max_time( 12.h * task.attempt ) }
  }

  withName: 'vepvcf2csv' {
    cpus = 1
    memory = { max_memory( 1.GB * task.attempt ) }
    time = { max_time( 6.h * task.attempt ) }
  }

  withName: 'multiqc' {
    cpus = 1
    memory = { max_memory( 4.GB * task.attempt ) }
    time = { max_time( 1.h * task.attempt ) }
  }
}

params {

  max_cpus = 16
  max_memory = 128.GB
  max_time = 200.h
}
