process {

  withLabel: 'bcftools' {
    conda = 'bcftools=1.9=ha228f0b_4'
  }

  withLabel: 'bedops' {
    conda = 'bedops=2.4.36=h6bb024c_1'
  }

  withLabel: 'coreutils' {
    conda = 'coreutils=8.25=1'
  }

  withLabel: 'cutadapt' {
    conda = 'cutadapt=2.3=py37h14c3975_0'
  }

  withLabel: 'ensembl_vep' {
    conda = 'ensembl-vep=99.2=pl526hecc5488_0'
  }

  withLabel: 'fastqc' {
    conda = 'fastqc=0.11.8=1'
  }

  withLabel: 'multiqc' {
    conda = 'multiqc=1.7=py_4'
  }

  withLabel: 'picard' {
    conda = 'picard=2.20.2=0'
  }

  withLabel: 'samtools' {
    conda = 'samtools=1.9=h8571acd_11'
  }

  withLabel: 'star' {
    conda = 'star=2.7.1a=0'
  }

  withLabel: 'strelka' {
    conda = 'strelka=2.9.10=0'
  }
}
