process {

  container = 'ubuntu:18.04'

  withLabel: 'bcftools' {
    container = 'quay.io/biocontainers/bcftools:1.9--ha228f0b_4'
  }

  withLabel: 'bedops' {
    container = 'quay.io/biocontainers/bedops:2.4.36--h6bb024c_1'
  }

  withLabel: 'coreutils' {
    container = 'quay.io/biocontainers/coreutils:8.25--1'
  }

  withLabel: 'cutadapt' {
    container = 'quay.io/biocontainers/cutadapt:2.3--py37h14c3975_0'
  }

  withLabel: 'ensembl_vep' {
    container = 'quay.io/biocontainers/ensembl-vep:97.3--pl526hecc5488_0'
  }

  withLabel: 'fastqc' {
    container = 'quay.io/biocontainers/fastqc:0.11.8--1'
  }

  withLabel: 'multiqc' {
    container = 'quay.io/biocontainers/multiqc:1.7--py_4'
  }

  withLabel: 'picard' {
    container = 'quay.io/biocontainers/picard:2.20.2--0'
  }

  withLabel: 'samtools' {
    container = 'quay.io/biocontainers/samtools:1.9--h8571acd_11'
  }

  withLabel: 'star' {
    container = 'quay.io/biocontainers/star:2.7.1a--0'
  }

  withLabel: 'strelka' {
    container = 'quay.io/biocontainers/strelka:2.9.10--0'
  }
}
