executor{

  jobName = { task.process }

  queueSize = 1000
  killBatchSize = 1000
}

process {

  executor = 'pbspro'
  cache = 'lenient'

  beforeScript = 'module load miniconda3/current singularity/2.6.0'
}

params {

  genomes {
    'GRCh37' {
      fasta = '/reference/genomes/gencode/Gencode_human/release_32/GRCh37_mapping/GRCh37.primary_assembly.genome.fa.gz'
      gtf   = '/reference/genomes/gencode/Gencode_human/release_32/GRCh37_mapping/gencode.v32lift37.annotation.gtf.gz'
    }
    'GRCh38' {
      fasta = '/reference/genomes/gencode/Gencode_human/release_32/GRCh38.primary_assembly.genome.fa.gz'
      gtf   = '/reference/genomes/gencode/Gencode_human/release_32/gencode.v32.primary_assembly.annotation.gtf.gz'
    }
    'GRCm38' {
      fasta = '/reference/genomes/gencode/Gencode_mouse/release_M23/GRCm38.primary_assembly.genome.fa.gz'
      gtf   = '/reference/genomes/gencode/Gencode_mouse/release_M23/gencode.vM23.primary_assembly.annotation.gtf.gz'
    }
  }

  vep_cache_info {
    'GRCh37' {
      species = 'homo_sapiens'
    }
    'GRCh38' {
      species = 'homo_sapiens'
    }
    'GRCm38' {
      species = 'mus_musculus'
    }
  }

  vep_indexed_cache_files {
    'GRCh37' {
      'ensembl' {
        cache = '/working/genomeinfo/share/indexed_vep_cache/97/homo_sapiens_vep_97_GRCh37.tar.gz'
      }
      'refseq' {
        cache = '/working/genomeinfo/share/indexed_vep_cache/97/homo_sapiens_refseq_vep_97_GRCh37.tar.gz'
      }
      'merged' {
        cache = '/working/genomeinfo/share/indexed_vep_cache/97/homo_sapiens_merged_vep_97_GRCh37.tar.gz'
      }
    }
    'GRCh38' {
      'ensembl' {
        cache = '/working/genomeinfo/share/indexed_vep_cache/97/homo_sapiens_vep_97_GRCh38.tar.gz'
      }
      'refseq' {
        cache = '/working/genomeinfo/share/indexed_vep_cache/97/homo_sapiens_refseq_vep_97_GRCh38.tar.gz'
      }
      'merged' {
        cache = '/working/genomeinfo/share/indexed_vep_cache/97/homo_sapiens_merged_vep_97_GRCh38.tar.gz'
      }
    }
    'GRCm38' {
      'ensembl' {
        cache = '/working/genomeinfo/share/indexed_vep_cache/97/mus_musculus_vep_97_GRCm38.tar.gz'
      }
      'refseq' {
        cache = '/working/genomeinfo/share/indexed_vep_cache/97/mus_musculus_refseq_vep_97_GRCm38.tar.gz'
      }
      'merged' {
        cache = '/working/genomeinfo/share/indexed_vep_cache/97/mus_musculus_merged_vep_97_GRCm38.tar.gz'
      }
    }
  }
}

conda {

  cacheDir = '/working/genomeinfo/share/containers/conda'
  createTimeout = 1.h
}

singularity {

  cacheDir = '/working/genomeinfo/share/containers/singularity'
}
